.navdiv {
    height: 4em;
}

.navbar {
    padding: 0.75em;
}

a {
    font-size: 1.25em!important;
}

.divider-div {
    width: 50%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.lightgray {
    background-color: #f0f1f4;
}

.card {
    margin-bottom: 1em;
}

.empty-action {
    margin-top: 5em!important;
}

.btn-empty {
    padding: 0.75em!important;
    display: inline;
}

.post-title {
    margin: 1em auto;
}

.post-text {
    font-size: 2em!important;
}