{% extends "layout.twig" %}

{% block content %}
    <div class="empty">
        <div class="empty-icon">
            <i class="icon icon-people"></i>
        </div>
        <h1 class="empty-title">Welcome to my blog</h1>
        <p class="empty-subtitle">Click the button to log in and post articles</p>
        <div class="empty-action">
            <a href="/login" class="btn btn-lg btn-empty">Log in</a>
        </div>
    </div>
{% endblock %}