<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="public/css/spectre.min.css" />
    <link rel="stylesheet" href="public/css/main.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<title>Blog</title>
</head>
<body>
    <div class="navdiv lightgray">
        <div class="container grid-960">
            <header class="navbar">
                <section class="navbar-section">
                    <a href="/" class="btn btn-link">Home</a>
                    <a href="/private-posts" class="btn btn-link">Private</a>
                    <a href="/public-posts" class="btn btn-link">Public</a>
                </section>
                <section class="navbar-section">
                    <a href="/login" class="btn btn-primary">Login</a>
                </section>
            </header>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>